.loading-indicator {
    border: 16px solid #426da5;
    border-top: 16px solid #e0c11c;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
